<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error Page</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Error</h5>
            <p class="card-text">An error occurred:</p>
            <p class="card-text"><strong>Error Code:</strong> <%= errorCode %></p>
            <p class="card-text"><strong>Error Message:</strong> <%= errorMessage %></p>
            <a href="/" class="btn btn-primary">Go Back to Homepage</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
